@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 150px 150px 1.8fr;
}
.box-1{
    grid-column: 1 /span 2;
    grid-row: 1;
    flex-basis: 40%;
    background-color: #6012A6;
    position: relative;
}
.box-2{
    grid-column: 3 /span 2;
    grid-row: 1;
    position: relative;
    flex-basis: 60%;
    background-color: white;
    overflow: hidden;
}
.page2{
    width: 270px;
}
.panel{
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.p1{
    background-color: rgb(255, 255, 255);
}
.p2{
    background-color: #1C0361;
}
.p3{
    background-color: #141647;
}
.p4{
    background-color: #0C131B;
}
.p5{
    background-color: #2DCDDD;
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr;
    grid-template-rows: 50vh 50vh;
    place-items: center;
    gap: 0.5em;
}
.p6{
    background: url("./ScrollAnimation Task Assets/interior.jpg");
}
.p7{
    background-color: rgb(0 191 114);
}

.p2-itm1{
    width: 250px;
    margin-top: 25em;
    margin-left: 8em;

}
.p2-itm2{
    width: 250px;
    margin-top: -23em;
    margin-left: 5em;
}

.p3-itm1{
    width: 250px;
    margin-top: 15em;
    margin-left: 8em;

}
.p3-itm2{
    width: 230px;
    margin-top: -23em;
    margin-left: 5em;
}
.p4-itm1{
    width: 250px;
    margin-top: 25em;
    margin-left: -5em;

}
.p4-itm2{
    width: 230px;
    margin-top: 1em;
    margin-left: 5em;
}
.p4-itm3,.p4-itm4,.p4-itm5{
    position: absolute;
    width: 230px;
}
.p4-itm3{
    width: 400px;
    height: 150px;
    object-fit: cover;
    top: 0;
    left: 0;
}
.p4-itm4{
    width: 200px;
    object-fit: cover;
    top: -10em;
    right: 0;
}
.p4-itm5{
    bottom: 0em;
    right: 0;
}
.p5-itm1{
    width: 85%;
    grid-row: 1;
    grid-column: 2;
    flex-basis: 50%;
    bottom: 0em;
    right: 0;
    align-self: end;
}
.p5-itm2{
    width: 85%;

    grid-row: 2;
    grid-column: 2;
    flex-basis: 50%;
    bottom: 0em;
    right: 0;
    align-self: start;
}
.p5-itm3{
    width: 85%;
    grid-row: 1;
    grid-column: 3;
    flex-basis: 50%;

    bottom: 0em;
    right: 0;
    align-self: end;

}
.p5-itm4{
    width: 85%;
    grid-row: 2;
    grid-column: 3;
    flex-basis: 50%;

    bottom: 0em;
    right: 0;
    align-self: start;
}
.p5-itm5{
    /* width: 200px;
    object-fit: cover; */
    width: 85%;
    grid-row: 1/span 2;
    grid-column: 4;
    flex-basis: 50%;
    bottom: 0em;
    right: 0;
}
.p6-itm1{
    width: 110%;
    height: 110%;
    object-fit: cover;
}

.p7-itm1{
    margin-left: 10em;
    margin-right: -5em;
    z-index: 12;
}.p7-itm2{
    width: 230px;
}
.svg-container{
    grid-column: 2/span 2;
    grid-row: 1;
    z-index: 999;
    margin-top: 5em;
    height: 300px;
    width: 300px;
    background-color: #6012a6;
    border-radius: 50%;
    position: relative;
}

.box-1{
    display: flex;
    position: relative;
}
.title{
    position: absolute;
    top: 50%;
    transform: translate(50%,-50%);
    right: 80%;
    margin: 0;
    z-index: 9999;
    white-space: nowrap;
    overflow: hidden;
}
.content{
    position: absolute;
    bottom: 7em;
    left: 1em;
    padding: 0 0 1.4em 4.5em;
    overflow: hidden;
}
.c{
    color: white;
    overflow: hidden;
}
.content img{
    width: 15em;
    overflow: hidden;

}
.content h1{
    margin: 0.5em 0;
    overflow: hidden;

}
.content p{
    margin: 0 0 0 0;
    width: 15em;
    overflow: hidden;

}
.bottom{
    position: absolute;
    bottom: 1em;
    left: 5.5em;
    right: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
}
.t,.t2{
    overflow: hidden;
    color: white;
}
.t h1,.t2 h1{
    font-size: 2.6rem;
    text-align: right;
}
.t p,.t2 p{
    text-align: right;
}
.bottom p{
    color: #8a8a8a;
    font-size: 1.1rem;
}